config/vim/bundle/vim-clojure-static
config/vim/bundle/vim-fireplace
config/vim/bundle/vim-fugitive
config/vim/bundle/vim-leiningen
config/vim/bundle/paredit.vim
config/vim/bundle/bufexplorer
config/vim/bundle/rainbow_parentheses.vim
config/lein/self-installs
config/vim/.netrwhist
